
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    margin-top: 0px;
    border-style: none;
    }
.button {
    background-color: green;
    border-color: none;
    border-style: none;
    margin: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }
  
.listadoOriginal {
    color: black;
    font-size: 20px;
  }
  
.mayorQue {
    display: flex;
    color: rgb(34, 34, 151);
    font-size: 22px;
  }
  
.menorQue {
    display: flex;
    color: red;
    font-size: 22px;
  }